@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: aliceblue;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    /* --foreground: 240, 100%, 10%; */
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
  background: aliceblue;
}

[class^='internal'],
.cl-internal-ttumny,
.cl-formButtonPrimary {
  box-shadow: 0px 0px 0px 2px rgba(120, 160, 220, 0.8) !important;
}
.cl-footer,
[class^='cl-internal'] {
  background: blue !important;
  background-color: transparent !important;
}
.cl-footerActionLink,
.cl-formFieldAction,
.cl-identityPreviewEditButton,
.cl-formFieldInputShowPasswordButton {
  color: rgba(220, 20, 60, 0.8);
}

.cl-footerActionLink:hover,
.cl-formFieldAction:hover,
.cl-identityPreviewEditButton:hover,
.cl-formFieldInputShowPasswordButton:hover {
  color: rgba(220, 20, 60, 1);
}

.font-bangers {
  font-family: var(--font-bangers);
  letter-spacing: 1px;
}

/* Loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: blue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

/* @keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@layer base {
  h1 {
    @apply text-3xl text-center font-bold pb-4;
  }

  h2 {
    @apply text-2xl font-bold pb-3;
  }

  h3 {
    @apply text-xl font-bold pb-2;
  }

  header {
    @apply bg-blue-700 py-3;
  }

  form {
    @apply space-y-4;
  }

  input[type='text'] {
    @apply w-full border border-gray-600 rounded-sm p-3 placeholder-gray-600;
  }

  section {
    @apply mb-20;
  }

  table {
    @apply table-auto min-w-full border-collapse;
  }

  table thead tr {
    @apply bg-blue-700 text-yellow-300 text-2xl;
  }

  table th,
  table td {
    @apply px-4 py-2;
  }

  table tbody {
    @apply text-center;
  }

  table tbody tr {
    @apply border-b;
  }
}

@layer components {
  .container {
    @apply mx-auto;
  }

  .navbar {
    @apply flex justify-center items-center container text-white text-5xl font-bold;
  } */

/* .btn {
    @apply w-full flex flex-col items-center font-bold uppercase text-yellow-300 text-xl tracking-[1px] bg-blue-700 hover:bg-blue-800 p-3 rounded-sm;
  } */

/* .search-section {
    @apply w-full flex flex-col justify-center items-center;
  }

  .search-form {
    @apply w-1/3 bg-gray-50 p-8 shadow-sm border;
  }

  .search-result {
    @apply w-2/3 flex justify-center items-center;
  }
} */

.productsContent {
  position: fixed;
  /* top: 204px; */
  top: 10px;
  padding-top: 94px;
  left: 0;
  width: 100%;
  /* height: calc(100% - 64px); */
  height: 100%;
  z-index: 10;
  overflow: auto;
  padding-bottom: 5%;
  background: transparent;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding-left: 0px;
  padding-right: 0px; */
}

@media only screen and (max-width: 520px) {
  .productsContent {
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .productsContent::-webkit-scrollbar {
    display: none;
  }
}

.dialog-content {
  overflow-y: auto;
  max-height: 100%;
}
.dialog-content-background {
  overflow-y: auto;
  max-height: 100%;
}
.dialog-content-background-cart {
  overflow-y: auto;
}

.dialog-content-main::-webkit-scrollbar,
.dialog-content-background::-webkit-scrollbar,
.dialog-content::-webkit-scrollbar,
.productsContent::-webkit-scrollbar {
  width: 8px;
  display: none;
}

/* Track */
.productsContent::-webkit-scrollbar-track,
.dialog-content::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: rgba(224, 224, 224, 0.1);
  width: 6px;
  padding: 1px;
}

.productsContent::-webkit-scrollbar-thumb,
.dialog-content::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.2);
  width: 6px;
  padding: 1px;
}

.productsContent::-webkit-scrollbar-thumb:hover,
.dialog-content::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-thumb:hover {
  background: rgba(136, 136, 136, 0.4);
}

.dialog-content-main::-webkit-scrollbar {
  width: 8px;
}

.swiper-button-prev:after,
.swiper-button-prev {
  margin-left: -4px;
  left: -4px !important;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb,
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 8px !important;
  opacity: 0.2 !important;
}

*::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  width: 8px !important;
  opacity: 0.6 !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  margin-top: 0px !important;
  /* outline: 2px solid blue !important; */
  opacity: 0.6 !important;
  box-shadow: 0px 0px 0px 2px blue !important;
  /* margin: 20px 4px 4px 4px !important; */
}

* {
  scrollbar-width: thin;
}
